How to copy code from github and how to push any project from ide to github

In [5]:
reversed(name) #we will get an object stored at this particular address

In [6]:
#How to see a string instead of object address
" ".join(reversed(name))

'a p e e D'

In [7]:
"Deepa".join("Gupta") #Every string try to get cancatinated
#Gupta will be join characterwise(first g will be print then Deepa)

'GDeepauDeepapDeepatDeepaa'

In [8]:
" pwskills ".join(reversed("Deepa"))  #Deepa will be execute in reverse
#Reverse function return a string

'a pwskills p pwskills e pwskills e pwskills D'

In [10]:
#other way 
#typecasting of reverse
list(reversed("ant"))

['t', 'n', 'a']

In [15]:
#reverse save the characters in a contigaous memory spaces
for i in list(reversed("Deepa")):
    print(i,end="")

apeeD

In [ ]:
#removing characters from end of the string

In [16]:
string="     pw  skills    "
string.strip(" ")   #remove the spaces in initial and end of string

'pw  skills'

In [17]:
string.lstrip(" ") # the left spaces will be removed

'pw  skills    '

In [18]:
string.rstrip(" ") # the right spaces will be removed

'     pw  skills'

In [19]:
string="Greeting from pwskills"
string.replace("from","to")   
#replace the part of the string (we can replace words but not the characters)

'Greeting to pwskills'

In [ ]:
#string is immutable we can change the string but we can replace the string
name="jai"
name="veeru"
name.replace('v','s')  #returns the new copy instead of changing the existing one
#we can replace the special character as well( @ $ %)
#cant do this
name[1]='r'

In [22]:
#\t :expand tab
"Hello\tWorld".expandtabs()

'Hello   World'

In [ ]:
#Exercise:
# I have a string 
# str1=Welcome to pwskills.Welcome to Dat cience Master class
#replace dat with data and cience with science

In [23]:
str1="Welcome to pwskills.Welcome to Dat cience Master class"
str1.replace("Dat","Data").replace("cience","Science")

'Welcome to pwskills.Welcome to Data Science Master class'

In [27]:
#Check string is upper case or not
str1.isupper()

False

In [15]:
str="WE R GOOD"
str.isupper()

True

In [31]:
#Check string is upper case or notstr1.lower()
str1.islower()

False

In [32]:
#Check string is space is there or not
str1.isspace()

False

In [33]:
str=" "
str.isspace()

True

In [34]:
if str.isspace():  #applicaation to determine a empty string
    print("Hello")

Hello

In [38]:
str1

'Welcome to pwskills.Welcome to Dat cience Master class'

In [8]:
str1.endswith('s')     #comparision is case sensitive

True

In [6]:
str1.startswith('W')  #comparision is case sensitive

True

In [12]:
str1.isalnum()  #alphabets and digits both

False

In [13]:
#To count the no of characcter of the string
count=0
for i in str1:
    count=count+1
print(count)

54

In [14]:
len(str1)

54

In [30]:
#Display a string by one one letter
for i in range(len(str)):
    print(i,"=",str[i])

0 = W
1 = E
2 =
3 = R
4 =
5 = G
6 = O
7 = O
8 = D

In [25]:
#How to use index to iterate the string in reverse direction
for i in range(len(str)-1,-1,-1):           #len(str)-1 gives the last index, 
    print(i,"=",str[i])  #-1 represent the last iterator (till 0)      #-1 represent in reverse order

8 = D
7 = O
6 = O
5 = G
4 =
3 = R
2 =
1 = E
0 = W

In [26]:
#Another way
string="pwskills"
ch=len(string)-1
while(ch>=0):
    print(string[ch])
    ch=ch-1

s
l
l
i
k
s
w
p

In [28]:
#another way
for i in range(len(str)):
    print(str[len(str)-(i+1)])

D
O
O
G

R

E
W

In [31]:
#Whether vowel or not
name="pwskills"
vowel="AaEeIiOoUu"

In [36]:
for ch in name:
    if ch in vowel:
        print("{} this is a vowel".format(ch))
    else :
        print("{} this is not a vowel".format(ch))

p this is not a vowel
w this is not a vowel
s this is not a vowel
k this is not a vowel
i this is a vowel
l this is not a vowel
l this is not a vowel
s this is not a vowel

#List
(ordered collection of items)
#Hashmap (unordered collection of items)

In [38]:
type([])

list

In [39]:
["Deepa","Gupta",19,"CEDS"]

['Deepa', 'Gupta', 19, 'CEDS']

In [40]:
list[1,34,4,67,7]

list[1, 34, 4, 67, 7]

In [41]:
list(string) #Will get output character by character

['p', 'w', 's', 'k', 'i', 'l', 'l', 's']

In [45]:
list(str1.split(" "))  #Whenever a space will find then split the string

['Welcome', 'to', 'pwskills.Welcome', 'to', 'Dat', 'cience', 'Master', 'class']

In [24]:
#return type of split function inside a string is also a list
list1=str1.split(" ")
str1.split(" ")

['Welcome', 'to', 'pwskills.Welcome', 'to', 'Dat', 'cience', 'Master', 'class']

In [53]:
list1[2]   #return element of index 2

'pwskills.Welcome'

In [54]:
list1[2:]  #from index 2 to last

['pwskills.Welcome', 'to', 'Dat', 'cience', 'Master', 'class']

In [58]:
list1[3]="Pwskill"   #mutability

In [21]:
list1   #List got updated or changed

NameError: name 'list1' is not defined

In [62]:
list1[-3]  #from backward 3rd item

'cience'

In [64]:
list1[::-2] #Every second element from backward

['class', 'cience', 'Pwskill', 'to']

In [28]:
list1

['Welcome', 'to', 'pwskills.Welcome', 'to', 'Dat', 'cience', 'Master', 'class']

In [36]:
list1[-1:2:-1]

['class', 'Master', 'cience', 'Dat', 'to']

In [30]:
list[-5::-2]

list[slice(-5, None, -2)]

In [ ]:
list1[::-2]

In [70]:
#Cancatination operation
list1+["Deepa","Gupta"]

['Welcome',
 'to',
 'pwskills.Welcome',
 'Pwskill',
 'Dat',
 'cience',
 'Master',
 'class',
 'Deepa',
 'Gupta']

In [72]:
list2=list1+[["Deepa","Gupta"]]  #cancate a multinested list
list1+[["Deepa","Gupta"]]

In [73]:
#how to get the nested list only
list2[-1]

['Deepa', 'Gupta']

In [76]:
#get the first item of nested list
list2[-1][0]

'Deepa'

In [77]:
#repeat the list 
list1*2

['Welcome',
 'to',
 'pwskills.Welcome',
 'Pwskill',
 'Dat',
 'cience',
 'Master',
 'class',
 'Welcome',
 'to',
 'pwskills.Welcome',
 'Pwskill',
 'Dat',
 'cience',
 'Master',
 'class']

In [79]:
list1  #repetition is not a inplace process(not change the actual list)
#if inplace is true it means we updating the list as well

['Welcome',
 'to',
 'pwskills.Welcome',
 'Pwskill',
 'Dat',
 'cience',
 'Master',
 'class']

In [94]:
#check wheather a word is present in it or not and then exit out the if find
for i in list1:
    if i=="Pwskill":
        print(" Item found")
        break
    else:
        print("Item not found")

Item not found
Item not found
Item not found
 Item found

In [95]:
lst=[1,2,3,4]
4 in lst   #check whether present or not

True

In [9]:
list=["zebra","monkey","donkey","lion"]
list2=[1,4,6,3,7,3,6,2]

In [97]:
#print the maximum
print(max(list))  #check alphabetically then this alphabet get converted into ascii value

zebra

In [98]:
print(max(list2))

7

In [ ]:
#print the minimun

In [100]:
print(min(list))   #check alphabetically then this alphabet get converted into ascii value

donkey

In [99]:
print(min(list2))

1

In [10]:
list.append("DeepaGupta")

In [11]:
list

['zebra', 'monkey', 'donkey', 'lion', 'DeepaGupta']

In [12]:
list  #it is a inplace operation (list got updated)

['zebra', 'monkey', 'donkey', 'lion', 'DeepaGupta']

In [13]:
list.append([1,2,3,4])

In [14]:
list  #provide the nested list

['zebra', 'monkey', 'donkey', 'lion', 'DeepaGupta', [1, 2, 3, 4]]

In [15]:
list.pop()  #remove the last element

[1, 2, 3, 4]

In [107]:
list  #So it is a inplace operation the list will remove it for permanent

['zebra', 'monkey', 'donkey', 'lion', 'DeepaGupta']

In [108]:
list.pop(2) #donkey wil remove

'donkey'

In [109]:
list

['zebra', 'monkey', 'lion', 'DeepaGupta']

In [20]:
list.insert(len(list)+1,25)
list
#note:if we run insert function 3 times then it extend then list by adding elements 3 times

['zebra', 'monkey', 'donkey', 'lion', 'DeepaGupta', 23, 23, 25, 25]

In [137]:
#sorting and reverse method in list
new_list=['a','e','i','u','t','o']

In [138]:
#reverse the list
new_list[::-1]    #This is not inplace

['o', 't', 'u', 'i', 'e', 'a']

In [142]:
new_list

['a', 'e', 'i', 'u', 't', 'o']

In [144]:
new_list.reverse()

In [145]:
new_list   #This is a inplace operation

['a', 'e', 'i', 'u', 't', 'o']

In [146]:
new_list.sort()   #By default ascending order

In [147]:
new_list    #It is a inplace operation

['a', 'e', 'i', 'o', 't', 'u']

 Nested list

In [148]:
#In append function we inly add on element at a time
#but by using extend function we can add multiple element at a time
new_list.extend(["Deepa","Gupta","Aman","Shiv"])
#note:if we run extend function 3 times then it extend then list by adding elements 3 times

In [149]:
new_list

['a', 'e', 'i', 'o', 't', 'u', 'Deepa', 'Gupta', 'Aman', 'Shiv']

In [150]:
#Make a list of list to form a matrix
list1=[1,2,3]
list2=[4,5,6]
list3=[7,8,9]

In [152]:
matrix=[list1,list2,list3]

In [153]:
matrix

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [155]:
#how to pick value:6
matrix[1][2]

6

In [156]:
#How to get value(8,9)
matrix[2][1:]

[8, 9]

In [161]:
#How to get 1,4,7
#This will come in array by using numpy
matrix[0:][1] #wrong

[4, 5, 6]

In [164]:
#List comprehension
#Can we apply a for loop inside a list
[i for i in range(20)]

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

In [165]:
#how to get even no
[i if i%2==0 else "ODD" for i in range(20)]   #this is list comprehension

[0,
 'ODD',
 2,
 'ODD',
 4,
 'ODD',
 6,
 'ODD',
 8,
 'ODD',
 10,
 'ODD',
 12,
 'ODD',
 14,
 'ODD',
 16,
 'ODD',
 18,
 'ODD']

In [ ]:
#we can add a for loop in list comprehension
#and a condition as well

In [ ]:
#Iterate through a list=[1,2,3,4,5,6,7,8]
#and print submission of even variable or submission of odd variable to 2 reference variable

In [2]:
list=[1,2,3,4,5,6,7,8]
even_sum=0
odd_sum=0
for i in list:
    if i%2==0:
        even_sum+=i
    else:
        odd_sum+=i
print(even_sum)
print(odd_sum)

20
16

In [181]:
#using a list cpmprehension
even_sum=sum([num for num in list if num%2==0])
#If we write the if condition before for loop then a else condition is also required
even_sum

20

In [4]:
odd_sum=sum([num for num in list if num%2!=0])  
#Write the for loop before if condition so that we dont have to specify the else condition
odd_sum

16

In [184]:
#Exercise
#lst=[1,2,3,4,5,6,7,8,9,10]
#print the square of all number in the form of list comprehension
lst=[1,2,3,4,5,6,7,8,9,10]
[num**2 for num in lst]   #2 stars is for power

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [13]:
#Create a list of only the positive numbers from a given list 
number=[-2,-1,0,1,2,3,4]
for i in number:
    if i>=0:             #wrong
        print(i)

0
1
2
3
4

In [14]:
[num for num in number if num>=0]  #correct

[0, 1, 2, 3, 4]

In [16]:
#Create a list of only first letter of words in a list
words=["apple","banana","cherry","date"]
#[num for num in words for i in ]  #wrong 
[word[0] for word in words]   #right

['a', 'b', 'c', 'd']

In [ ]:
#convert a temperature celsius into fahrenhite and vice versa
#(9/5)*temp-32

In [18]:
#convert a list of temperature from celsius to fahrenhite using list comprehension
celsius_tem=[0,10,20,30,40,50]
[(9/5)*temp+32 for temp in celsius_tem]

[32.0, 50.0, 68.0, 86.0, 104.0, 122.0]

In [ ]:
#Flatten a list of list into a single list using list comprehension

In [4]:
lists=[[1,2,3],[4,5,6],[7,8,9]]
#[num for num in lists for i in num]   wrong
[num for sublist in lists for num in sublist]   #right

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [43]:
#Assignments to do
#using both code and list comprehension
#create a list of only the prime numbers from the list
numbers=[0,1,2,3,4,5,6,7,8,9,10]

In [53]:
prime_list=[]
for i in numbers:
    if i==0 or i==1:
        continue
    for j in range(2,i//2+1):
        if i%j==0:
            break
    else:
        prime_list.append(i)
prime_list

[2, 3, 5, 7]

In [73]:
[num for num in numbers if num!=0 and num!=1 if all(num%i!=0 for i in range(2,num))]

[2, 3, 5, 7]

In [ ]:
#Create a list of all the possible combination of 2 elements from a list
numbers=[1,2,3,4,5]

In [74]:
import itertools

numbers=[1,2,3,4,5]

combinations = []

for r in range(len(numbers)+1):
    for combination in itertools.combinations(set(numbers), r):
        combinations.append(combination)

print(combinations)

[(), (1,), (2,), (3,), (4,), (5,), (1, 2), (1, 3), (1, 4), (1, 5), (2, 3), (2, 4), (2, 5), (3, 4), (3, 5), (4, 5), (1, 2, 3), (1, 2, 4), (1, 2, 5), (1, 3, 4), (1, 3, 5), (1, 4, 5), (2, 3, 4), (2, 3, 5), (2, 4, 5), (3, 4, 5), (1, 2, 3, 4), (1, 2, 3, 5), (1, 2, 4, 5), (1, 3, 4, 5), (2, 3, 4, 5), (1, 2, 3, 4, 5)]

In [3]:
from itertools import combinations

numbers=[1,2,3,4,5]

output = sum([list(map(list, combinations(numbers, i))) for i in range(len(numbers) + 1)], [])