In [ ]:
##Single line comment

In [8]:
"""
This a multiline comment
"""
a=10
a

10

In [49]:

ch=int(input("Enter your choice number"))
if ch==1:
    a=[]
    r=float(input("Enter radius value"))
    a.append(r)
else:
    a=[]
    l=float(input("Enter the value of length "))
    b=float(input("Enter the value of  breadth"))
    a.append(l) 
    a.append(b) 

def areaSwitchCase(ch: int, a: list[float]):
    # Write your code here
    match ch:
        case 1:
            return 3.14*a[0]*a[0]
        case 2:
            return a[0]*a[1]
        case _:
            return ("Invalid input")
            
areaSwitchCase(ch,a)

Enter your choice number2
Enter the value of length 3
Enter the value of  breadth2

6.0

In [52]:
ch=int(input("Enter your choice number"))
if ch==1:
    a=[]
    r=float(input("Enter radius value"))
    a.append(r)
else:
    a=[]
    l, b = [int(x) for x in input().split()] 
    a.append(l) 
    a.append(b) 

def areaSwitchCase(ch: int, a: list[float]):
    # Write your code here
    match ch:
        case 1:
            area= 3.14*a[0]*a[0]
            return area
        case 2:
            area=a[0]*a[1]
            return area
        case _:
            return "Invalid input"

areaSwitchCase(ch,a)

Enter your choice number2
2 3

6

In [39]:
import ctypes 
ctypes.sizeof(ctypes.c_ulonglong)

8

In [62]:
n=int(input("Enter a number"))

def even_odd(n):
    even=0
    odd=0
    while(n!=0):
        rem=n%10
        if rem%2==0:
            even=even+rem
        else:
            odd=odd+rem
        n=n/10

    return even

even_odd(n)

Enter a number123

0

In [61]:
int(123/10)

12

1.Hello guys (this is used as a heading)

###Python numbers

In [9]:
1+3 #(This is not displaying something )

4

In [10]:
print(1+3)   #using print function it act as a output console(displaying something)

4

In [11]:
print("Hello my self deepa\n and i just began this course")

Hello my self deepa
 and i just began this course

In [15]:
name="Deepa"
collage="YMCA"
name

'Deepa'

In [16]:
collage

'YMCA'

In [18]:
name="Yashika"
name  #override the previous variable

'Yashika'

In [19]:
type(name)

str

In [17]:
num=3.46
type(num)

float

In [22]:
type(5+2j)

complex

In [ ]:
#Dont start a variable name with number   1a ,3number
#Variable names are case sensitive
#Dont use a reserve keyword as a variable   (like:return,yield,int,float,complex,bool)

In [24]:
Home="Gurugram"
home="Bihar"
print(Home)
print(home)

Gurugram
Bihar

In [31]:
#Boolean and logic gates
True and False

False

In [32]:
True or False

True

In [29]:
not True

False

In [30]:
not False

True

In [33]:
bool(1) #Actually a typecasting

True

In [34]:
bool(0)  #Actually a typecasting

False

In [35]:
a=1
if bool(a)==True:
    print("Its true")

Its true

In [37]:
int('14')

14

In [38]:
str(14)

'14'

In [39]:
int(34.56)

34

In [40]:
int(abc)  #it will generate error while typecasting

NameError: name 'abc' is not defined

In [ ]:
#cancatination between different variable

In [41]:
"1"+"1"

'11'

In [42]:
int("1")+int("1")

2

In [ ]:
int("1")+"1"  #It will generate error

In [43]:
"1"*"1"  #Error cant multiple two string

TypeError: can't multiply sequence by non-int of type 'str'

In [44]:
"1"*10  # instead we can do this

'1111111111'